<unity>
  <!--定义类型别名-->
  <aliases>
    <add alias="ITestServer" type="ProjectTemplate.IBusiness.ITestServer,ProjectTemplate.IBusiness" />
    <add alias="TestServer" type="ProjectTemplate.Business.TestServer,ProjectTemplate.Business" />
  </aliases>
  <!--容器-->
  <container name="ProjectTemplateContainer">
    <!--映射关系-->
    <register type="ITestServer"  mapTo="TestServer">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>